<nav class="level" style="padding-top: 10px;">
    <p class="level-item has-text-centered">
        <a class="link is-info" href="tel: +91-44-2382 1882"><i class="fas fa-mobile-alt"></i> Call: +91-44-2382 1882</a>
    </p>
    <p class="level-item has-text-centered">
        <img src="{{logo}}" alt="" style="width: 35%; height: 35%;">
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info" href="mailto: info@chempuretech.com"><i class="fas fa-envelope"></i> email: info@chempuretech.com</a>
    </p>
</nav>