    <div class="row">
      <div class="col-xl-4 text-center mx-auto p-4" >
        <a href="tel: +91-44-2382 1882" style="padding-top: 5px;"><i class="fas fa-mobile-alt"></i> Call: +91-44-2382 1882</a>
      </div>
      <div class="col-xl-4 text-center mx-auto">
        <img src="{{logo}}" width="50%" height="50%">
      </div>
      <div class="col-xl-4 text-center mx-auto p-4">
        <a href="mailto: info@chempuretech.com"><i class="fas fa-envelope"></i> email: info@chempuretech.com</a>
      </div>
    </div>

