<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img src="{{logoNew}}" width="100%" height="100%">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Chempure comprises of highly qualified technocrats in the field of Water Treatment Management. CHEMPURE has a worldwide capability in the water treatment of municipal and industrial water and wastewater.</p>
            </div>
            <div class="footer-col">
                <h4>Products</h4>
                <ul>
                    <li>
                        <a href="#">Waste Water Treatment</a>
                    </li>
                    <li>
                        <a href="#">Water Treatment Chemicals</a>
                    </li>
                    <li>
                        <a href="#">Solid Waste Management</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Other Useful Links</h4>
                <ul>
                    <li>
                        <a href="#">Our Strength</a>
                    </li>
                    <li>
                        <a href="#">Our Career</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                    <li>
                        <a href="#">Clients</a>
                    </li>
                    <li>
                        <a href="#">Contact US</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Info</h4>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-mobile-alt" aria-hidden="true"></i>
                            +91-44-2382 1882 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            +91-44-2382 1884
                        </a>
                    </li>
                </ul><br>
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div><br><br>
        <div class="content has-text-centered">
            <div>
              <strong style="color: dodgerblue;">CHEMPURE TECHNOLOGIES</strong><span> © 2021, All Right Reserved.</span><br>
              <span>Website by: <strong style="color: dodgerblue;">Abhinandan</strong></span>
            </div>
        </div>
    </div>
</footer>