
.myaccordion {
    max-width: 500px;
    margin: 0px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
   
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
   
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
  }
   
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: mediumseagreen;
    padding: 0;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }

a{
    text-decoration: none;
    color: dodgerblue;
}
a:hover{
    font-weight: bold;
    color: mediumseagreen;
    transition: .1s;
}
.container{
    padding: 20px;
}

ul {
    list-style-type: square;
}
  
.list{
 list-style-type: none;
    font-size: 20px;
    text-indent: 3mm;
}
ol {
    list-style-type: none;
}

p{
    font-size: 20px;
}

h2{
    font-size: 50px;
    text-align: center;
    color: mediumseagreen;
}

h3{
    color: mediumseagreen;
    font-size: 35px;
}
h4{
    color: mediumseagreen;
    font-size: 25px;
}

.card-title, .title{
  font-size: 15px;
  text-align: center;
}
