<div style="background: url('{{cover}}')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7 p-5">
            <h3>Our Strength</h3>
            <ul class="list">
                <li>Technical group offering total water management solutions under one roof</li>
                <li>Decades of Experience</li>
                <li>Tailor-made formulation for specific end users</li>
                <li>Effective and prompt after sales service</li>
                <li>Software based monitoring and report generation</li>
                <li>Stringent Quality Procedures</li>
                <li>Strong Engineering Team</li>
                <li>Cost Effective Technology</li>
                <li>On time execution of projects</li>
            </ul>
        </div>
        <div class="col-sm-5">
            <img src="{{img1}}">
        </div>
    </div>
</div>

<div class="quality">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mx-auto p-5">
                <img src="{{img2}}">
            </div>
            <div class="col-sm-8">
                <h3>Quality Control</h3>
                <p>Quality is not a buzz word to <strong style="color:mediumseagreen">Chempure</strong> since it is committed to providing quality equipment that meets the requirements of both our clients and regulatory agencies. <strong style="color:mediumseagreen">Chempure</strong> has reputation for superior products and services which is the result of its hard work and quality standards.</p>
            </div>
            <div class="col-sm-12">
                <p><strong style="color:mediumseagreen">Chempure</strong> has executed many engineering contracts, meeting international quality plans under supervision of international inspection agencies. Quality Control & testing procedures are followed in accordance with the various Indian standards as well as international standards such as ASME, BSDIN or other standards specified by the customer.</p><br>
            </div>
            <div class="col-sm-8">
                <p><strong style="color:mediumseagreen">Chempure</strong> continually seeks out, manufactures and markets, efficient & cost effective products by implementing new and ‘State of the art’ technologies.</p>
                <p>Over the years <strong style="color:mediumseagreen">Chempure</strong> has built a strong reputation in advanced chemical treatment technology for water and wastewater. <strong style="color:mediumseagreen">Chempure</strong> is one of the leading producers of specialty chemicals and services for water and industrial process treatment. Our customized approach to service is provided at our customers’ site by a highly trained technical sales force, supported by our strong research team.</p>
            </div>
            <div class="col-sm-4">
                <img src="{{img4}}" alt="">
            </div>
            <div class="col-sm-12">
                <p>At <strong style="color:mediumseagreen">Chempure</strong>, standard and tailor-made chemical treatment programs are offered for a wide variety of market, in almost every corner of the industry. Our goal is to help ensure optimum and trouble free operations in your plant, mill, mine or municipality through the prevention of water and process related problems.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Quality Policy</h3>
            <p>Our objective is to maintain prominence in the field of environment by continuing to develop defect free and innovative technical products and solutions and providing prompt service to our valued customers. We strive to achieve excellence in the design, manufacturing implementation and installation of systems and treatment programmed.</p>
        </div>
        <div class="col-sm-4 mx-auto">
            <img src="{{img3}}">
        </div>
        <div class="col-sm-12">
            <h3>Global Showing World</h3>
            <p><strong style="color:mediumseagreen">Chempure</strong> is a global player in water and waste water chemical treatment, with capability to deliver sucessful projects and solutions wherever there is a need, with process, price and delivery schedule guaranteed. <strong style="color:mediumseagreen">Chempure</strong> has its presence in UK, Gulf, Bangladesh, Nepal, Srilanka, Maldives and overseas.</p>
        </div>
    </div>
</div>
