<div style="background: url('{{cover}}') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
background-size: cover;" class="jumbotron bg-cover text-white img-fluid">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>


<div class="container" style="padding-bottom: 20px;">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
        <article class="tile is-child box" style="background-color: rgba(197,232,245,1);">
            <p class="title">Contact Us</p>
            <p class="title">Registered Office:</p>
            <p class='subtitle'><strong>Chempure Technologies Pvt. Ltd.</strong></p>
            <div class="content">
                <p><i class="fas fa-location-arrow"></i> “Sarvam House”, Plot No:84 & 89, Rajagopalapuram 5th Street,<br> Mowlivakkam, Chennai - 600 125. Tamilnadu, India</p>
            </div>
            <div class="content">
                <p><i class="fas fa-mobile-alt"></i> +91-44-2382 1882, 83, 85</p>
            </div>
            <div class="content">
                <p><i class="fas fa-fax"></i> +91-44-2382 1884</p>
            </div>
            <div class="content">
                <p><i class="fas fa-envelope"></i> info@chempuretech.com</p>
            </div>
            <hr>
            <p class='subtitle'>For Enquiries related to Water, Wastewater, Biotech, Renewable Energy, Services</p>
            <p class='subtitle'><strong>Mr. A.X.P. Leo Vino</strong></p>
            <div class="content">
                <p><strong>Director Marking</strong> - Equipment Division</p>
            </div>
            <div class="content">
                <p><strong>Email</strong>: leo@chempuretech.co.in</p>
            </div>
            <hr>
            <p class="title">Contact Person:</p>
            <p class='subtitle'>For Enquires Related to chemical Programmes</p>
            <p class='subtitle'><strong>Dr. R. Senthil Kumar</strong></p>
            <div class="content">
                <p><strong>Director Marking</strong> - Chemical Division</p>
            </div>
            <div class="content">
                <p><strong>Email</strong>: rsk@chempuretech.co.in</p>
            </div>
        </article>
        </div>
        <div class="tile is-parent is-8">
        <article class="tile is-child box">
          <form action="https://formsubmit.co/chemptech01@gmail.com" method="POST">
            <p class="title">Email Us</p>
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="text" name="name" placeholder="Enter your name" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="email" name="email" placeholder="@gmail.com" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <div class="label">Phone</div>
                <div class="field-body">
                  <div class="field is-expanded">
                    <div class="field has-addons">
                      <p class="control is-expanded has-icons-left">
                        <input class="input is-success" type="tel" placeholder="Your phone number">
                        <span class="icon is-small is-left">
                          <i class="fas fa-mobile-alt"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="label">
                  <label class="label">Subject</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input is-success" type="text" name="_subject" placeholder="Jist of your msg" >
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea is-success" name="message" placeholder="Enter your message here" required></textarea>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="buttons">
                    <div class="container2">
                        <button type="submit" class="btn effect01"><span>Send</span></button>
                    </div>
                  </div>
              </div>
            </form>
        </article>
        </div>
    </div>
</div>