<div style="background: url('{{cover}}') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
background-size: cover;" class="jumbotron bg-cover text-white img-fluid">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <h2>Profile</h2>
    <div class="row">
      <div class="col-sm-7">
        <p>
            <strong style="color:mediumseagreen">Chempure</strong> is one of the leading technical group company offering total water management under one roof.<br><br>
            <strong style="color:mediumseagreen">Chempure</strong> comprises of highly qualified technocrats in the field of Water Treatment Management. <strong style="color:mediumseagreen">Chempure</strong> has a worldwide capability in the water treatment of municipal and industrial water and wastewater.<br><br>
            To preserve and enhance the global environment by providing innovative technologies and solutions with quality product and professional technical support.
        </p>  
    </div>
      <div class="col-sm-5">
        <img src="{{img}}">
      </div>
    </div>
</div>

<div class="container1" style="padding: 20px 0px; background-image: url('{{bg}}'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mx-auto p-5">
                <img src="{{img2}}">
            </div>
            <div class="col-sm-7">
                <h3>Our Mission</h3>
                <p>To preserve and enhance the global environment by providing innovative technologies and solutions with quality product and professional technical support.</p><br>
                <h3>Our Vision</h3>
                <p>To provide affordable solutions for all forms of pollution thus creating a sustainable environment.</p><br>
                <h3>Capabilities</h3>
                <p><strong style="color:mediumseagreen">Chempure</strong> has an extensive track record in the design, supply and construction of plants worldwide for the treatment of water, wastewater treatment solutions, sewage water treatment solutions and sludge treatment solutions. In addition to being well versed in a full range of established and conventional processes, the company offers leading edge advanced water treatment solutions, technologies. Moreover, clients will continue to be provided with up-to-date solutions to their water and wastewater treatment problems through the company's programme of constant process technology development and search for suitable technologies from overseas associates.</p>
            </div>
        </div>
    </div>
</div>

<section class="hero is-medium" style="background-color: #fff;">
    <div class="container has-text-centered">
      <br><br>
      <p class="title" style="font-size: 50px;">
          Our Credibility
      </p>
    </div>
    <div class="container"> 
      <div class="card-deck">
        <div class="card" *ngFor='let i of card' style="background-color: #4b7588;">
          <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: #fff;">{{i.txt}}</h5>
          </div>
        </div>
      </div>
    </div><br><br>
  </section>

<div class='container2'>
    <h2>About Us</h2>
    <div class="tile">
        <article class="tile is-child box">
            <div class="content">
                <div class="table">
                    <tbody>
                        <tr>
                            <td>Year of establishment</td>
                            <td>Late 2000</td>
                        </tr>
                        <tr>
                            <td>Nature of business</td>
                            <td>Water and wastewater treatment, water treatment chemicals, solid waste management, Renewable energy, Waste to energy, Bioremediation</td>
                        </tr>
                        <tr>
                            <td>Divisions</td>
                            <td>Plant/Chemical/Solid waste/Renewable Energy/Waste to Energy/Bioremediation</td>
                        </tr>
                        <tr>
                            <td>Funding</td>
                            <td>Privately held</td>
                        </tr>
                        <tr>
                            <td>Turnover</td>
                            <td>3 million USD</td>
                        </tr>
                        <tr>
                            <td>Number of Employees</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Certification</td>
                            <td>ISO 9001: 2008 certified<br>“EESO – AA rated Green Business Certified Organization”</td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </article>
    </div>
</div>>