<div style="background: url('{{cover}}')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
        <h3>Solid Waste Management</h3>
        <p>Biogas plants are biogas generating systems. Biogas formed after decomposition of organic wastes in biogas plants is piped or transported to homes for cooking and heating, and used on a large scale in many countries of the world today. The Biogas plants are considered to be the cheap sources of energy in rural areas. Biogas is also used for running engines for shaft and electrical power generation with little or no pollution.</p>
        
        <h3>WHAT IS BIOGAS?</h3>
        <p>Biogas is a clean fuel produced through anaerobic digestion of several organic wastes like agricultural, animal, domestic and industrial. Made from organic waste matter after it is decomposed, biogas is tremendously used as fuel. A relatively clean burning, colourless, and odourless gas, biogas is composed of methane (CH4), carbon dioxide (CO2), and some traces of nitrogen, ammonia (NH3), sulphur dioxide (SO2), hydrogen sulphide (H2S), and hydrogen, depending on the feedstock used.</p>
        
        <h3>MANUFACTURING PROCESS</h3>
        <p>Biogas is produced in a no "oxygen is present" environment or in an anaerobic environment, when certain bacteria decompose organic material. The whole process is referred to as anaerobic digestion (AD). AD effectively treats the organic fraction of waste which has many benefits. The process not only leads to a healthy and clean environment, but also produces a renewable energy source like methane. The by-product produced during the process is a solid residue which is high-grade manure. In a biogas plant, biomass like vegetable wastes, animal excreta, and weeds undergo decomposition in the absence of oxygen and form a mixture of gases. This mixture is the biogas which is used as a fuel for cooking and lighting.</p>
        
        <h3>BIOGAS PLANT CONSTRUCTION:</h3>
        <p>Important criteria for biogas plant construction are:</p>
        <ul class="list" style="margin: 0px 50px;">
            <li>The amount of waste material available for processing.</li>
            <li>The amount of gas required for a specific use.</li>
        </ul>

        <h3>APPLICATION AREAS:</h3>
        <p><strong>Cooking:</strong> One of the most common uses of biogas is for cooking in a specially designed burner. A biogas plant with a capacity of 2 m3 is enough for providing cooking fuel to a family of four to five.</p>

        <h3>BENEFITS OF BIOGAS PLANTS:</h3>
        <ul class="list" style="margin: 0px 50px;">
            <li>A non-polluting and renewable source of energy is created in biogas plants.</li>
            <li>It is an excellent way of energy conversion.</li>
            <li>Biogas plants produce enriched organic manure. This can be used as fertilizers.</li>
            <li>Biogas as a gas provides improvement in the environment, and sanitation and hygiene.</li>
            <li>The biogas plants provide a source for decentralized power generation.</li>
            <li>Most important of all, such plants provide employment generation in the rural areas.</li>
        </ul>
    </div>
    <img src="{{img}}">
</div>