<div style="background: url('{{cover}}') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
background-size: cover;" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card" *ngFor='let i of img1'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img2'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img3'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img4'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img5'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img6'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img7'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img8'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img9'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img10'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img11'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img12'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor='let i of img13'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>

    <h1>Consultant</h1>

    <div class="card-deck">
        <div class="card" *ngFor='let i of img15'>
          <img class="card-img-top" src="{{i}}" alt="Card image cap">
        </div>
    </div>
</div>