<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img class="d-block w-100" src="{{img1}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>OPERATION AND MAINTENANCE</h1>
        </div>
      </div>
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{img2}}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>WATER AND WASTEWATER TREATMENT PLANTS</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{img3}}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>WATER TREATMENT PLANTS</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<section class="hero is-medium" style="background-color: rgb(177, 235, 235);">

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title" style="font-size: 50px;">
            Welcome to Chempure Technologies
        </p>
        <p class="subtitle" style="font-size: 30px;">
            Chempure is one of the leading technical group company offering total water management under one roof.
        </p>
        <p class="subtitle" style="font-size: 20px;">
            Chempure comprises of highly qualified technocrats in the field of Water Treatment Management. CHEMPURE has a worldwide capability in the water treatment of municipal and industrial water and wastewater. To preserve and enhance the global environment by providing innovative technologies and solutions with quality product and professional technical support.
        </p>
        <hr><br>
        <div>
            <a href="#" class="clickme green">Read More</a>
        </div>
      </div>
        
    </div>
</section>

<section class="hero is-medium" style="background-image: url('{{bg3}}'); background-size: cover; width: 100%; background-color: blue;">
    <div class="container has-text-centered">
        <br><br>
        <p class="title" style="font-size: 50px;">
            Services
        </p>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Water & Waste Water Treatment plant</h5>
              <p class="card-text">Wastewater treatment is a process used to remove contaminants from wastewater or sewage and convert...</p>
              <a href="#" class="clickme green">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Water Treatment Chemicals</h5>
              <p class="card-text">With the assistance of our experts, we manufacture and supply a far reaching reach of Water Treatment Chemical.</p><br>
              <a href="#" class="clickme green">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Solid Waste Management</h5>
                <p class="card-text">Solid waste management is a term that is used to refer to the process of collecting and treating solid wastes.</p><br>
                <a href="#" class="clickme green">Read More</a>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Services</h5>
                <p class="card-text">Augmentation, Operation and Maintenance, Annual Maintenance Contract, After Sales Service...</p><br><br>
                <a href="#" class="clickme green">Read More</a>
              </div>
            </div>
        </div>
        </div>
        <br><br>
    </div>
</section>

<section class="hero">
    <div class="container has-text-centered">
        <p class="title" style="font-size: 50px;">
            Welcome to Chempure Technologies
        </p>
    </div>
    <section class="gal">
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
            <div class="item">
                <img src="{{img4}}" alt="Img 1">
                <a href="#" class="clickme green">Read More</a>
            </div>
            <div class="item">
                <img src="{{img5}}" alt="Img 2">
                <a href="#" class="clickme green">Read More</a>
            </div>
            <div class="item">
                <img src="{{img6}}" alt="Img 3">
                <a href="#" class="clickme green">Read More</a>
            </div>
            <div class="item">
                <img src="{{img7}}" alt="Img 4">
                <a href="#" class="clickme green">Read More</a>
            </div>
        </main>
    </section>
</section>

