<div style="background: url('{{cover}}')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div id="accordion" class="myaccordion">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Water and Waste Water Treatment
                    </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a [routerLink]="['']">Water Treatment Equipments</a></li>
                                <li><a href="">Wastewater Treatment Systems & Technologies</a></li>
                                <li><a href="">Sewage Water Treatment System and Technology</a></li>
                            </ul>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Water Treatment and Chemicals
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Cooling Water Treatment</a></li>
                                <li><a href="">Boiler Water Treatment</a></li>
                                <li><a href="">Water & Wastewater Treatment Chemicals</a></li>
                                <li><a href="">Process Chemicals</a></li>
                                <li><a href="">RO Treatment Plant Chemicals</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Services
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Operation and Maintenance</a></li>
                                <li><a href="">Spares, Components & Consumables</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <h3>Water and Waste Water Treatment</h3>
                <ul class="list" style="margin: 0px 50px;">
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModal">
                                Water Treatment Equipments
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Water Treatment Equipments</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                <div id="accordion">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="card-link" data-toggle="collapse" data-target="#collapseOne">
                                                                Package RO Plant                                             
                                                            </a>
                                                        </div>
                                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4>Plant Division → Package RO Plant</h4>
                                                                    <ul style="margin: 20px 40px;">
                                                                        Chempure Technologies Pvt. Ltd offers commercial Reverse Osmosis plants with the smallest plant ranging from 10 LPH to 50000 LPH with highly reliable components and prompt after sales service
                                                                    </ul>
                                                                    <!-- Grid -->
                                                                    <div class="product1">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <img alt="Support Services" src="http://www.chempuretech.com/images/reverse-osmosis-plant-clip.jpg" style="height:195px; margin-left:50px; margin-right:87px; width:314px">
                                                                                <br><br>
                                                                                <table align="left" border="0" class="table1" style="height: 180px; width:100%">
                                                                                    <tbody>
                                                                                        <tr style="height: 30px;">
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <h6>Standard Scope &amp;Features</h6>
                                                                                            </td>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <h6>Applications</h6>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>5M pre–filter</li>
                                                                                                    <li>PP cartridge Housing</li>
                                                                                                    <li>TFC membranes</li>
                                                                                                    <li>PVC membrane housing</li>
                                                                                                    <li>SS High Pressure pump</li>
                                                                                                    <li>High/Low pressure piping</li>
                                                                                                </ul>
                                                                                            </td>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>Houses ⁄ Hotels ⁄ Restaurants ⁄</li>
                                                                                                    <li>Apartments ⁄ Hospitals ⁄</li>
                                                                                                    <li>Hemodialysis ⁄ Package water</li>
                                                                                                    <li>Manufacture ⁄ Laboratories ⁄</li>
                                                                                                    <li>Pharma ⁄ Ice manufacturing ⁄</li>
                                                                                                    <li>Soft Drinks</li>
                                                                                                </ul>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            
                                                                            <div class="col-md-6">
                                                                                <img alt="Support Services" src="http://www.chempuretech.com/images/reverse-osmosis-plant_clip_.png" style="height:195px; margin-left:50px; width:314px">
                                                                                <br><br>
                                                                                <table align="right" border="0" class="table1" style="height: 180px; width:100%">
                                                                                    <tbody>
                                                                                        <tr style="height: 30px;">
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center; width: 50%;">
                                                                                                <h6>Instruments</h6>
                                                                                            </td>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <h6>Limiting Conditions</h6>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>Pressure switch</li>
                                                                                                    <li>Flow meters</li>
                                                                                                    <li>TDS meter</li>
                                                                                                    <li>Pressure gauges</li>
                                                                                                </ul>
                                                                                            </td>
                                                                                            <td style="border-color: rgb(26, 180, 242); border-style: solid; border-width: 1px; text-align: center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>Feed TDS 2000 ppm</li>
                                                                                                    <li>Iron 0.1 ppm</li>
                                                                                                    <li>SDI 5</li>
                                                                                                </ul>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Grid end -->

                                                                </div>
                                                            </div>
                                                        </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo">
                                                                Media Filters
                                                            </a>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4>Plant Division → Media Filters</h4>
                                                                    <p>
                                                                        <strong>Chempure</strong> offers a wide variety of filters to suit different applications and process needs. We offer the filters in MS and FRP material of construction.
                                                                    </p>
                                                                    <br><br>
                                                                    <!-- Grid -->
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                        <h3><img alt="Support Services" src="http://www.chempuretech.com/new-images/pressure-media-filter.png" style="height:195px; width:314px"></h3>
                                                                        </div>
                                                                        
                                                                        <div class="col-md-4">
                                                                        <h3><img alt="Support Services" src="http://www.chempuretech.com/new-images/dual-media-filter.png" style="height:195px; width:314px"></h3>
                                                                        </div>
                                                                        
                                                                        <div class="col-md-4">
                                                                        <h3><img alt="Support Services" src="http://www.chempuretech.com/new-images/activated-carbon.png" style="height:195px; width:314px"></h3>
                                                                        </div>
                                                                    </div>

                                                                    <div class="product1">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <table align="right" border="0" style="width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center">
                                                                                            <h6>Pressure Sand Filter</h6>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: Center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>Conventional</li>
                                                                                                    <li>Low rate of filtration</li>
                                                                                                    <li>Low filtrate quality</li>
                                                                                                    <li>Higher frequency of backwash</li>
                                                                                                    <li>Sand and pebbles</li>
                                                                                                    <li>Easy availability</li>
                                                                                                    <li>Low capital cost</li>
                                                                                                </ul>
                                                                                            <br>
                                                                                            &nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            
                                                                            <div class="col-md-4">
                                                                                <table align="right" border="0" style="width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center">
                                                                                            <h6>Dual Media Filter</h6>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: Center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>High rate of filtration</li>
                                                                                                    <li>High filtrate quality</li>
                                                                                                    <li>Long run between backwash</li>
                                                                                                    <li>High backwash efficiency</li>
                                                                                                    <li>Low pressure drop</li>
                                                                                                    <li>Anthracite and sand</li>
                                                                                                    <li>High dirt holding capacity</li>
                                                                                                    <li>Low capital cost</li>
                                                                                                </ul>
                                                                                            <br>
                                                                                            &nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            
                                                                            <div class="col-md-4">
                                                                                <table align="right" border="0" style="width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center">
                                                                                            <h6>Activated carbon filter</h6>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: Center;">
                                                                                                <ul style="list-style-type: none; font-size: medium;">
                                                                                                    <li>Conventional</li>
                                                                                                    <li>Activated carbon medium</li>
                                                                                                    <li>Iodine values ranging from 500-1000</li>
                                                                                                    <li>Low capital cost</li>
                                                                                                </ul>
                                                                                            <br>
                                                                                            &nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    <!-- Grid end -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseThree">
                                                                Activated Carbon Filters
                                                            </a>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4>Plant Division → Activated Carbon Filters</h4>
                                                                    <p style="text-align: justify;">
                                                                        Activated carbon is a crude form of graphite, the substance used for pencil leads. It differs from graphite by having a random imperfect structure which is highly porous over a broad range of pore sizes from visible cracks and crevices to molecular dimensions. The graphite structure gives the carbon it's very large surface area which allows the carbon to adsorb a wide range of compounds.
                                                                    </p>
                                                                    <br>
                                                                    <h4>What is Adsorption?</h4>
                                                                    <p style="text-align: justify;">
                                                                        Adsorption is the process by which liquid or gaseous molecules are concentrated on a solid surface, in this case activated carbon. This is different from absorption, where molecules are taken up by a liquid or gas.
                                                                    </p>
                                                                    <br>
                                                                    <p style="text-align: justify;">
                                                                        Activated carbon is used for the removal of dissolved components from, freshwater waste water and marine systems. Activated carbon is effective against the following:
                                                                    </p>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                        <p><img src="http://www.chempuretech.com/new-images/carbon.png" style="height:254px; width:350px"></p>
                                                                        </div>
                                                                        
                                                                        <div class="col-md-6">
                                                                            <table align="right" border="0" style="float:left; margin-top:20px; width:70%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center">
                                                                                        <h6>Features</h6>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: center;">
                                                                                        <ul style="list-style-type: none; font-size: large;">
                                                                                            <li>organics</li>
                                                                                            <li>colour</li>
                                                                                            <li>chlorine &amp; bromine</li>
                                                                                            <li>malachite green &amp; many dyes</li>
                                                                                            <li>ozone</li>
                                                                                        </ul>
                                                                                        <br>
                                                                                        &nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        
                                                                        <div class="carbon-filter1" style="float:left; width:100%">
                                                                            <br>
                                                                            <h4>Basic Principle</h4>
                                                                            
                                                                            <p>Activated carbon filter works on the principle of adsorption.</p>
                                                                            <br>
                                                                            <p style="text-align: justify;">Adsorption is the process where molecules are concentrated on the surface of the activated carbon.</p>
                                                                            </div>

                                                                        <div class="carbon-filter1" style="float:left; width:100%">
                                                                            <br>
                                                                            <p><img src="http://www.chempuretech.com/new-images/activated.png" style="height:193px; width:288px"></p>
                                                                            <br>
                                                                            <p style="text-align: justify;">Adsorption is caused by London Dispersion Forces, a type of Van der Waals Force which exists between molecules. The force acts in a similar way to gravitational forces between planets.</p>
                                                                            <br>
                                                                            <p style="text-align: justify;">London Dispersion Forces are extremely short ranged and therefore sensitive to the distance between the carbon surface and the adsorbate molecule they are also additive, meaning the adsorption force is the sum of all interactions between all the atoms. The short range and additive nature of these forces results in activated carbon having the strongest physical adsorption forces of any material known to mankind.</p>
                                                                        </div>
                                                                    </div>
                                                                    <br>

                                                                    <div class="carbon-filter1" style="float:left; width:100%">
                                                                        <p><img src="http://www.chempuretech.com/new-images/forms.png" style="height:114px; width:194px"></p>
                                                                        <br>
                                                                        <h4>Forms of activated carbon</h4>

                                                                        <p style="text-align: justify;">There are three main forms of activated carbon.</p>
                                                                        <br>
                                                                        <p style="text-align: justify;"><strong>Granular Activated Carbon (GAC)</strong> - irregular shaped particles with sizes ranging from 0.2 to 5 mm. This type is used in both liquid and gas phase applications.</p>
                                                                        <br>
                                                                        <p style="text-align: justify;"><img src="http://www.chempuretech.com/new-images/carbon-active.png" style="height:107px; width:440px"></p>
                                                                        <br>
                                                                        <p style="text-align: justify;"><strong>Powder Activated Carbon (PAC)</strong> - pulverized carbon with a size predominantly less than 0.18mm (US Mesh 80). These are mainly used in liquid phase applications and for flue gas treatment.</p>
                                                                        <br>
                                                                        <p style="text-align: justify;"><strong>Pelleted Activated Carbon</strong> - extruded and cylindrical shaped with diameters from 0.8 to 5 mm. These are mainly used for gas phase applications because of their low pressure drop, high mechanical strength and low dust content.</p>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapsefour">
                                                                Iron Removal Systems
                                                            </a>
                                                        </div>
                                                        <div id="collapsefour" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4>Plant Division → Iron Removal System</h4>
                                                                    
                                                                    <p style="text-align: justify;">
                                                                        Chempure offers a reliable iron removal system which will reduce even the fluctuating loads to the desired levels.
                                                                    </p>
                                                                    <br>
                                                                    <h4>The Process</h4>
                                                                    <p style="text-align: justify;">
                                                                        Iron is found in soluble form in water. The raw water is dosed With soda ash for increasing the pH to 8.5-9. This is done to avoid any reversible reactions. The Water is then allowed to trickle down a degasser tower filled with pall rings. Air is supplied from the bottom of the tower which will oxidize the Ferrous to ferric form. This will settle in the tank. Hypo is dosed for oxidizing any residual ferrous content. Then it is filtered through a dual media filter comprising of Sand and green sand as the media. Then it is passed through the activated carbon filter for removing excess chlorine and colour traces if any.
                                                                    </p>
                                                                    <br>
                                                                    <h3><img alt="Support Services" src="http://www.chempuretech.com/new-images/iron-cause.png" style="height:250px; margin-left:50px; margin-right:87px; width:314px"> 
                                                                        <img alt="Support Services" src="http://www.chempuretech.com/new-images/chempure-irs.png" style="height:250px; margin-left:50px; width:314px">
                                                                    </h3>

                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <table align="left" border="0" style="width:70%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center;">
                                                                                        <h6>Iron causes</h6>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: center;">
                                                                                        <ul style="list-style-type: none; font-size: medium;">
                                                                                            <li>Stains on the fabric</li>
                                                                                            <li>Fouls the softener resins</li>
                                                                                            <li>Clogs the pipeline</li>
                                                                                        </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        
                                                                        <div class="col-md-6">
                                                                            <table align="left" border="0" style="width:70%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align:Center;">
                                                                                        <h6>Advantages of Chempure IRS</h6>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="border-color:#1ab4f2; border-style:solid; border-width:1px; text-align: center;">
                                                                                        <ul style="list-style-type: none; font-size: medium;">
                                                                                            <li>Consistent output quality</li>
                                                                                            <li>Takes fluctuation loads</li>
                                                                                            <li>Compact system</li>
                                                                                            <li>Easy to operate</li>
                                                                                        </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapsefive">
                                                                Biodisperant for Cooling Water Systemiler Corrosion inhibitor
                                                            </a>
                                                        </div>
                                                        <div id="collapsefive" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4>Product Features</h4>
                                                                    <ul style="margin: 20px 40px;">
                                                                        <li><strong>CHEMPURE - 405/4050</strong> has a slight foaming characteristics.</li>
                                                                        <li><strong>CHEMPURE - 405/4050</strong> is non- toxic and non- polluting at use levels. It helps to increase the effectiveness of chlorination and non-oxidising biocides.</li>
                                                                        <li><strong>CHEMPURE - 405/4050</strong> is compatible with mosst chemicals and used for cooling water treatment at use levels.</li>
                                                                    </ul>
                                                                    
                                                                    <h4>Method of Application</h4>
                                                                    <p><strong>CHEMPURE - 405/4050</strong> can be directly fed into systems preferably at points of active turbulence to ensure effective distribution.</p>
                                                                        
                                                                    <h4>Dosage</h4>
                                                                    <ul style="margin: 20px 40px;">
                                                                        <li><strong>CHEMPURE - 405/4050</strong> our technical executive will study the system condition and Water Parameters and suggest the dosage accordingly.</li>
                                                                        <li><strong>CHEMPURE - 405/4050</strong> should be dosed as slug dosage to the sump after sunset. Dosage quantity will be based on Cooling system hold up volume.</li>
                                                                    </ul>
    
                                                                    <h4>Safety Precautions</h4>
                                                                    <p>Avoid contact with skin or eyes. If accidental contact occurs wash immediately with water. If ingested obtain medical aid.</p>
                                                                        
                                                                    <h4>Warranty</h4>
                                                                    <p>Manufacture's warranty is restricted to the claims made here-in. No responsibility is implied to consequences of damage intrinsic in the system, that mainfests later or during <strong>CHEMPURE - 405 / 4050</strong> cooling water treatment.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModal">
                                Wastewater Treatment Systems & Technologies
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Wastewater Treatment Systems & Technologies</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModal">
                                Sewage Water Treatment System and Technology
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Sewage Water Treatment System and Technology</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>