<div style="background: url('{{cover}}')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div id="accordion" class="myaccordion">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Water and Waste Water Treatment
                    </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a [routerLink]="['/']">Water Treatment Equipments</a></li>
                                <li><a href="">Wastewater Treatment Systems & Technologies</a></li>
                                <li><a href="">Sewage Water Treatment System and Technology</a></li>
                            </ul>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Water Treatment and Chemicals
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Cooling Water Treatment</a></li>
                                <li><a href="">Boiler Water Treatment</a></li>
                                <li><a href="">Water & Wastewater Treatment Chemicals</a></li>
                                <li><a href="">Process Chemicals</a></li>
                                <li><a href="">RO Treatment Plant Chemicals</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Services
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Operation and Maintenance</a></li>
                                <li><a href="">Spares, Components & Consumables</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <h3>Water and Waste Water Treatment</h3>
                <ul class="list" style="margin: 0px 50px;">
                    <li><a href="">Water Treatment Equipments</a></li>
                    <li><a href="">Wastewater Treatment Systems & Technologies</a></li>
                    <li><a href="">Sewage Water Treatment System and Technology</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
