<div style="background: url('{{cover}}')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold"></h1>
        <p class="font-italic mb-0"></p><br><br><br>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div id="accordion" class="myaccordion">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Water and Waste Water Treatment
                    </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a [routerLink]="['']">Water Treatment Equipments</a></li>
                                <li><a href="">Wastewater Treatment Systems & Technologies</a></li>
                                <li><a href="">Sewage Water Treatment System and Technology</a></li>
                            </ul>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Water Treatment and Chemicals
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Cooling Water Treatment</a></li>
                                <li><a href="">Boiler Water Treatment</a></li>
                                <li><a href="">Water & Wastewater Treatment Chemicals</a></li>
                                <li><a href="">Process Chemicals</a></li>
                                <li><a href="">RO Treatment Plant Chemicals</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Services
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="container">
                        <div class="card-body">
                            <ul>
                                <li><a href="">Operation and Maintenance</a></li>
                                <li><a href="">Spares, Components & Consumables</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <h3>Water and Waste Water Treatment</h3>
                <ul class="list" style="margin: 0px 50px;">
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModal">
                                Water Treatment Equipments
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Water Treatment Equipments</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModa2">
                                Wastewater Treatment Systems & Technologies
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModa2">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Wastewater Treatment Systems & Technologies</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                <div id="accordion">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapse4">
                                                                Oil Water Seperators
                                                            </a>
                                                        </div>
                                                        <div id="collapse4" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4 style="padding: 20px 0px">Plant Division → [Oil Water Seperators]</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-9">
                                                                            <p>Chempure offers Coalescing Oil Water Separator which will efficiently and consistently coalesce and remove oils from waste water to produce an effluent with 10 mg/l or less of non-emulsified oil. The oil water seperator features a sloped sludge chamber directly under the oil coalescing media to collect settled solids and isolate them from the flow. An internal oil reservoir provides temporary storage for separated oil.</p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img1}}" alt="">
                                                                        </div>
                                                                    </div>

                                                                    <h4 style="padding: 20px 0px">Coalescing Media</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img2}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p>In the residual oil media, fine droplets that are too small to be separated by gravity alone are accumulated into bigger drops that rise to the surface. This coalescing media is made of PP/HDPE/PVC. As the oil/water/solids mixture travels through the plates, oil rises to the top and solids drop to the bottom through dedicated surfaces and weep holes. Plate supports at the bottom allow for easy removal of the solids that collect beneath the plates. And, because of the steep angles and short travel distances, oils and solids are quickly released, making the media virtually self-cleaning</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <h4 style="padding: 20px 0px">Basic Principle of Oil Water Separation</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-9">
                                                                            <p>The concept of a basic gravity oil/water separator is simply a tank vessel that stalls the flow rate to permit gravity to separate oil from water. Oil, having a lower specific gravity than water, will naturally float on water if given time to separate.</p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img3}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>The rise rate of the oil to surface is determined by Stoke's Law. There are three main factors affecting the rise rate; oil droplet size, oil specific gravity and temperature. Other factors include oil/dirt particles and flow rate or turbulence. According to Stoke's Law, a 100 micron size oil droplet will rise three inches in five minutes. When factoring in a flow rate, you can see how a simple oil/water separator will have to be quite large to give the oil enough time to rise to the surface. A 20 micron size oil droplet will rise three inches in 60 minutes. Large oil droplets are more buoyant and, therefore, rise faster.</p>
                                                                        </div>
                                                                    </div>

                                                                    <h4 style="padding: 20px 0px">Typical Three-Part Oil/Water Separator</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img4}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p>In order to reduce the physical size of the oil/water separator, coalescors have been used successfully for many years. The concept of a coalescor is to use oleophillic (oil loving) media such as polypropylene or teflon. As oil and water flow through the media, oil droplets impinge on the media and coalesces on the surface. Coalescing, or binding together, makes them larger and more buoyant. As you can see from the above example, a 100 micron oil particle will rise three inches twelve times faster than a 20 micron particle.</p>
                                                                        </div><br>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>Now to further enhance this process, we can use these coalescing media as incline plates thereby drastically reducing the rise or fall of a particle.</p>
                                                                        </div><br>
                                                                        <div class="col-sm-6 p-3" style="margin: 0px 200px">
                                                                            <img src="{{img5}}" alt="">
                                                                        </div><br>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>By using coalescing incline plates, the rise of an oil droplet can be reduced to 1/4" until it hits the upper surface of the plates and glides up as it coalesces with other particles. Also, solids or dirt will settle and glide downward on the plate surface. As it attaches to other dirt particles, the coalesced oil particles will gain buoyancy and rise rate, and the dirt particles will gain speed as they grow heavy and settle at a faster rate.</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <h4 style="padding: 20px 0px">Example: Solids Settling – Standard Separator vs. Inclined Plates</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>It takes fine sand 0.1 mm diameter 38 seconds to settle 12 inches in an open tank or 114 seconds in a typical 3 ft. deep separator. By adding ¼ inch incline 60º plates, you reduce the settling time by a factor of 72, Therefore, the addition of ¼ inch incline plates will reduce the settling time of a 0.1 mm diameter fine sand from 114 seconds in a standard separator to 1.58 seconds in a ¼ inch incline plate separator. The same calculation can be made for oil droplet sizes and rise time incline plates.</p>
                                                                        </div>
                                                                        <div class="col-sm-6" style="margin: 0px 200px">
                                                                            <img src="{{img6}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>In addition to incline plate coalescing separation, Chempure utilizes a micro matrix coalescor system of finely spaced poly mesh with an incline grid matrix.</p>
                                                                        </div>
                                                                        <p style="padding:30px 0px">Emulsified oils either chemically or mechanically emulsified will not separate in a gravity separator. Emulsion splitting methods will be necessary before the emulsion reaches the separator. Alternately, quick release detergents or cleaning chemicals can be used, which will release the emulsion and permit the gravity action to occur.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapse5">
                                                                Dissolved Air Floatation (DAF) System
                                                            </a>
                                                        </div>
                                                        <div id="collapse5" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4 style="padding: 20px 0px">Plant Division → [Dissolved Air Floatation (DAF) System]</h4>
                                                                    <p>The removal of small particulate matter and oil droplets, for which gravity separation can be extremely slow, requires an alternative process. A method which can be considered in these circumstances is air flotation. In this process, small bubbles of dispersed air are released into the contaminant, attach themselves to the solids or droplets and rise to the surface, taking the contaminants with them</p>
                                                                    
                                                                    <h4 style="padding: 20px 0px">Performance</h4>
                                                                    <p>Typical figures for oil, suspended solids and COD removal would be :</p>
                                                                    <div class="row" style="padding-top: 20px;">
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img7}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p>These figures apply to a feed material containing approximately 50 ppm of oil and with influent CODs in the range of 1000 to 10,000 ppm and SSs in the range of 50 to 400 ppm. At lower feed concentrations the performance expressed as a recovery rate is usually much lower.</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="padding-top: 20px;">
                                                                        <div class="col-sm-9">
                                                                            <p>A DAF is typically installed after a primary screen. The DAF removes the smaller particulate that pass through the screen. A DAF operates on the following principle of pressurizing the water with air to increase the air saturation into the water. The water then flows across a backpressure valve (the pressure is relieved), thereby allowing the air to come out of solution (effervesce) out of the water. This is the same reaction that happens  when you open a 7-up bottle and the bubbles come out of solution causing the bubbling. The micro bubbles produced in the DAF adhere to the small particulates in the wastewater. Once the bubble and particle adhere, they quickly float to the surface of the DAF where they are scraped off as a sludge.</p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img8}}" alt="">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="row" style="padding-top: 30px;">
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img9}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p>DAF's have a removal efficiency of up to 95% TSS & 60% BOD, depending on the waste stream particulate and the chemistry involved. Polymers greatly enhance this performance and can yield a higher percent solids in the sludge.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <a class="collapsed card-link" data-toggle="collapse" data-target="#collapse6">
                                                                Upflow Anaerobic Sludge Bed (UASB)
                                                            </a>
                                                        </div>
                                                        <div id="collapse6" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <div class="container" >
                                                                    <h4 style="padding: 20px 0px">Plant Division → [Upflow Anaerobic Sludge Bed System]</h4>
                                                                    <div class="row" style="padding-top: 10px;">
                                                                        <div class="col-sm-9">
                                                                            <p>The Chempure upflow anaerobic sludge blanket or UASB process is ideally suited to treating industrial wastewater containing medium to high concentrations of soluble organics (i.e. BOD in excess of 1000 mg/L). This anaerobic process requires very little energy (no aeration) and by virtue of its biogas generation is, in fact, a net energy producer. Carbon is largely converted to methane and carbon dioxide, resulting in virtually no net sludge production.</p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <img src="{{img10}}" alt="">
                                                                        </div>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>The UASB design has been developed on a modular concept where the digester size can be expanded to any size based on the Geometry of the Pilot Plant. The design has been successfully adapted for various liquid effluents like Sugar Factory, Distillery, and Dairy etc.,</p>
                                                                        </div>
                                                                        <div class="col-sm-12 p-3">
                                                                            <p>The UASB settlers as well as the roof are in modular construction and the same can be completely fabricated in the manufacturing shop and assembled at site giving necessary dimensional tolerances as well as ensuring quality construction.</p>
                                                                        </div>
                                                                    </div>

                                                                    <h4 style="padding: 20px 0px">Upflow Anaerobic Sludge Blanket Process</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <p>The UASB process also relies on upflow velocities to suspend anaerobic solids. However, upflow velocities are much lower than utilized in the AFB process since no carrier material is provided. Instead the anaerobic active mass tends to form a granular type of sludge which assists with its retention in the anaerobic reactor. Various differences between UASB reactors were noted on visits to various European facilities. Some reactors are constructed of concrete; others of steel. Some reactors are rectangular; others are cylindrical. Some are moderate height (6 m); one extended 20 m high. The reactors generally had various proprietary designs for distributing influent and recirculated flows at the bottom as well as three-phase (effluent, solids, gas) separators at the top.</p>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <img src="{{img11}}" alt="">
                                                                        </div>
                                                                    </div>

                                                                    <h4 style="padding: 20px 0px">Area of Application</h4>
                                                                    <p>The UASB concept which has been traditionally used for treatment of liquid effluents has been successfully modified for treatment of liquid waste with high concentration of suspended solids like Abattoir waste waters as well as solid waste like Poultry droppings, Kitchen Waste, Vegetable Waste.</p>
                                                                    
                                                                    <h4 style="padding: 20px 0px">Loading Rates</h4>
                                                                    <div class="row" style="padding-top: 30px;">
                                                                        <div class="col-sm-12">
                                                                            <img src="{{img12}}" class="img-fluid" alt="" >
                                                                        </div>
                                                                    </div>

                                                                    <h4 style="padding: 20px 0px">Design Features</h4>
                                                                    <p>TheChempureprocess is initiated by :</p>
                                                                    <ul style="margin: 0px 70px">
                                                                        <li>Soluble organic components in the waste are partially biologically converted to volatile fatty acids (VFAs) in a pre-acidification. The residence time required for acidification is four to six hours.</li>
                                                                        <li>The pH of the wastewater is adjusted and nutrients are added, if required.</li>
                                                                        <li>The conditioned wastewater is introduced into the reactor, where the conversion of soluble organics to VFAs is completed and the VFAs subsequently converted to an energy rich biogas of methane and carbon dioxide.</li>
                                                                        <li>Some treated wastewater may be recycled to return alkalinity to the system.</li>
                                                                        <li>The biogas may be used in a boiler or other devices or burnt in a flare.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="margin: 0px; padding: 2px 0px">
                            <a class="link" data-toggle="modal" data-target="#myModal">
                                Sewage Water Treatment System and Technology
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                    <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Sewage Water Treatment System and Technology</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="container">
                                                
                                            </div>
                                        </div>
                                        <!--body ends here-->
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
